<!-- Modal: Yayınevi Ekle -->
<div class="modal fade" id="addPublisherModal" tabindex="-1" aria-labelledby="addPublisherLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content shadow-lg">
			<div class="modal-header bg-dark text-white">
				<h5 class="modal-title" id="addPublisherLabel"><i class="bi bi-building me-2"></i>Yeni Yayınevi Ekle</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
			</div>
			<form id="publisherModalForm">
				<div class="modal-body">
					<input name="PublisherName" class="form-control" placeholder="Yayınevi Adı" required />
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-success"><i class="bi bi-save me-1"></i> Kaydet</button>
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">İptal</button>
				</div>
			</form>
		</div>
	</div>
</div>
